# Eclipse files
/.cproject
/.project
/.settings/
/symbols_c.xml
/symbols_cxx.xml

# Eclipse builds
/Debug/
/Release/

# Makefile build
/build

# Autoconf
/autom4te.cache/
/configure

# Swap files
*.swp
