# Eclipse files
/.cproject
/.project
/.settings/
/symbols_c.xml

# Eclipse builds
/Debug/
/Release/

# Makefile build
/build

# Link to switch the library between Eclipse and the Makefile build
/libgraph_monetdb.so

# Swap files
*.swp
