# Eclipse files
/.cproject
/.project
/.settings/
/symbols_c.xml
/symbols_cxx.xml

# Eclipse builds
/Debug/
/Release/

# Komodo editor, project files
/*.komodoproject

# Makefile build. No special meaning per se, but it is customary to create an
# actual build inside this folder
/build

# Autoconf
/autom4te.cache/
/configure

# Swap files
*.swp
